:root {
  --skew-1: -1deg;
  --skew-2: -2.5deg;
  --skew-3: -4deg;

  @media (min-width: breakpoint(xlarge)) {
    --skew-2: -1.5deg;
    --skew-3: -2deg;
  }

  // Values based on http://www.modularscale.com/?1&em&1.2
  --type-very-small: .694em;
  --type-small: .833em;
  --type-base: 1em;
  --type-medium: 1.2em;
  --type-large: 1.728em;
}
