a {
  color: color(main);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: color(main-dark);
  }

  &.nuxt-link-active {
    font-weight: bold;
    text-decoration: underline;
  }
}
