.main-header {
  background-color: color(light);
  box-shadow: shadow(lvl1);
  padding: space(double, viewport);
  position: sticky;
  top: 0;
  z-index: 100;

  @media(min-width: breakpoint(large)) {
    background-color: unset;
    box-shadow: none;
  }
}
